<!DOCTYPE html>
<html lang="en-us" ng-app="ilmApp">

<head>
    <meta charset="UTF-8">
    <title>Divergence by cmcotton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="divCtrl">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">參數</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        <div class="col-xs-6 col-md-2">
                            <label>月薪:</label>
                            <input type="number" class="form-control" ng-model="month">
                            <button type="button" class="btn btn-xs btn-primary" ng-click="changeMonth(1000)">+</button>
                            <button type="button" class="btn btn-xs btn-danger" ng-click="changeMonth(-1000)">-</button>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <label>可請天數:</label>
                            <input type="number" class="form-control" ng-model="day">
                            <button type="button" class="btn btn-xs btn-primary" ng-click="changeDay(1)">+</button>
                            <button type="button" class="btn btn-xs btn-danger" ng-click="changeDay(-1)">-</button>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <label>請假天數:</label>
                            <input type="number" class="form-control" ng-model="off">
                            <button type="button" class="btn btn-xs btn-primary" ng-click="changeOff(1)">+</button>
                            <button type="button" class="btn btn-xs btn-danger" ng-click="changeOff(-1)">-</button>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <label>自動計算最大值</label>                            
                            <button type="button" class="btn btn-xs btn-primary" ng-click="click()">計算最大值</button>
                        </div>
						<div class="col-xs-6 col-md-2">
                            最大值：{{max}}，當我休假{{optimal}}天時。
                        </div>
                    </div>
                </div>
            </div>
            
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">計算結果</h3>
				</div>
				<div class="panel-body">
					不休假換加班費：{{(day-off)*month/30}}
					<br/> 第五日起領600：{{off > 4 ? (off - 4) * 600 : 0}}
					<br/> 領會館補助：{{off >= 3 ? 8000 : 0}}
					<br/> 總計：{{((day-off)*month/30) + (off > 4 ? (off - 4) * 600 : 0) + (off >= 3 ? 8000 : 0)}}
				</div>
			</div>
            
        </div>
        <script>
        //Angular.js
        var ilmApp = angular.module('ilmApp', []);

        ilmApp.controller('divCtrl', function($scope) {


            var vm = $scope;

            vm.month = 50000;
            vm.day = 14;
            vm.off = 0;
            vm.max = 0;

            vm.nonoff = vm.off > 4 ? (vm.off - 4) * 600 : 0;
            console.log(vm.nonoff);
            vm.inn = vm.off >= 3 ? 8000 : 0;

			vm.changeMonth = function(tick) {
				vm.month += tick;
			}
			
			vm.changeDay = function(tick) {
				vm.day += tick;
			}
			
			vm.changeOff = function(tick) {
				vm.off += tick;
			}
			
            vm.click = function() {
            	var max = 0;
            	for (var i = 0; i <= vm.day; i++) {
            		var t = ((vm.day - i ) * vm.month / 30) + (i  > 4 ? (i  - 4) * 600 : 0) + (i  >= 3 ? 8000 : 0);
            		if (t > max) {
            			vm.optimal = i;
            			max = t;
            		} 
            	}

            	vm.max = max;
            }
        });
        </script>
</body>

</html>
